.vertical-tags {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 根据需要调整对齐方式 */
}

/* 如果需要为标签添加额外的样式，可以定义vertical-tag类 */
.vertical-tag {
  /* 这里可以添加您想要的标签样式 */
  margin-bottom: 5px; /* 例如，为标签之间添加一些间距 */
}
